alpaca-py==0.42.0
fastapi==0.116.1
pydantic_settings
httpx==0.28.1
joblib==1.5.1
python-dotenv==1.1.1
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0+cu128
uvicorn[standard]==0.35.0
pandas
pytz
numpy
huggingface-hub